{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Jukebox</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style>
    @font-face {
      font-family: 'Alata'; /* IE9 Compat Modes */
      src: url("{% static 'fonts/alata-regular.ttf' %}") format('truetype'); /* Safari, Android, iOS */
    }
    </style>
    <!-- favicons -->
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
      <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#00aba9">
      <meta name="theme-color" content="#ffffff">
    <!-- end favi -->
  </head>
  <body style="font-family: 'Alata', Fallback, sans-serif;">


    <div id="homeBanner">
      <header class="header">
  		  <h1 class="logo"><a href="/" style="font-size: 2rem;"><img src="{% static 'photos/logo.svg' %}" alt="Jukebox Logo"><div id="jukeboxName">Jukebox</div></a></h1>
        <ul class="main-nav">
          <li><a href="app" target="_blank">Launch App</a></li>
          <li><a href="#">Whitepaper</a></li>
        </ul>
  	   </header>
      <div class="container homeContainer" style="">

        <div class="row desktopVisible">
          <div class="col-6">
            <div id="forwardFacingDiv">
              <h1>Jukebox<h1>
              <h2>The world's first decentralized radio station, powered by the Ethereum blockchain<h2>
            </div>
          </div>
          <div class="col-6">
            <img id=logoWithExtrasHome src="{% static 'photos/logoWithExtras.svg' %}" alt="Jukebox Logo with Blockchain">
            <button id="learnMore" onclick="window.location.href='#play';">Learn More</button>
          </div>
        </div>

        <div class="mobileVisible">
          <div>
            <h1>Jukebox<h1>
            <img id=logoWithExtrasHome src="{% static 'photos/logoWithExtras.svg' %}" alt="Jukebox Logo with Blockchain">
          </div>
          <div>
            <div id="forwardFacingDiv">
              <h2>The world's first decentralized radio station, powered by the Ethereum blockchain<h2>
            </div>
          </div>
          <button id="learnMore" onclick="window.location.href='#play';">Learn More</button>
        </div>

      </div>
    </div>


    <div id="play">
      <div class="container" style="margin: auto; padding: 0;">

        <div class="row desktopVisible" style="margin-left: -75px; margin-right: -75px;">
          <div class="col-6" style="padding-right: 50px;">
            <h1 style="font-size: 4rem;">Play any Song for the World to Hear</h1>
            <p>Jukebox is a public, decentralized streaming application with a single queue of songs that anyone may add to. Add a song on the <a href="app" class="colorfulLink">Jukebox dApp</a>
               and everyone listening during your time slot will hear it. Fees for adding songs are calculated in USD, paid in Ether, and grow in price with the length of queue to balance supply and demand <a href="economics" class="colorfulLink">Economics</a></p>
          </div>
          <div class="col-6" style="text-align: center; padding-left: 0;">
            <img id="coverchain" src="{% static 'photos/coverchain.png' %}" alt="Blockchain of Cover Art">
          </div>
        </div>

        <div class="mobileVisible">
          <div>
            <h1>Play any Song for the World to Hear</h1>
            <p>Jukebox is a public, decentralized streaming application with a single queue of songs that anyone may add to. Add a song on the <a href="app" class="colorfulLink">Jukebox dApp</a>
               and everyone listening during your time slot will hear it. Fees for adding songs are calculated in USD, paid in Ether, and grow in price with the length of queue to balance supply and demand <a href="economics" class="colorfulLink">Economics</a></p>
          </div>
          <div>
            <img id="coverchain" style="width: 100%;" src="{% static 'photos/coverchain.png' %}" alt="Blockchain of Cover Art">
          </div>
        </div>

      </div>
    </div>

    <div id="listen">
      <div>
        <h1>Listen for Free<br>Anytime,<br class="mobileBR"> Anywhere</h1>
        <div>
          <p>Visit the <a href="app" class="colorfulLink">Jukebox dApp</a> to listen to an infinite queue of music, selected by countless individuals like you.<br>Easy, Seamless, and Free.</p>
          <div id="desktopQueue">
            <table>
              <div style="border: 1px solid black; border-bottom: 0px;">
                <h4 style="margin: 0; padding: 5px 0px 5px 0px; color: red;">Live Queue<div class="blob red"></h4></div>
              </div>
              <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Publisher</th>
                <th>Starting Block</th>
                <th>Ending Block</th>
              </tr>
              {% for sng in queue %}
                <tr>
                  <td>{{ sng.title }}</td>
                  <td>{{ sng.artist }}</td>
                  <td><a href="https://etherscan.io/address/{{ song.publisher }}" target="_blank">{{ sng.publisher|makeShorterAddy }}</td>
                  <td>{{ sng.start }}</td>
                  <td>{{ sng.end }}</td>
                </tr>
              {% endfor %}
            </table>
            <div style="border: 1px solid black; border-top: 0px;">
              <a href="queue" class="colorfulLink" style="margin: 0; padding: 5px 0px 5px 0px;">View Full Queue</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="mobileQueue">
      <table>
        <div style="border: 1px solid black; border-bottom: 0px;">
          <h4 style="margin: 0; padding: 5px 0px 5px 0px; color: red;">Live Queue<div class="blob red"></h4></div>
        </div>
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Publisher</th>
          <th>Starting Block</th>
          <th>Ending Block</th>
        </tr>
        {% for sng in queue %}
          <tr>
            <td>{{ sng.title }}</td>
            <td>{{ sng.artist }}</td>
            <td><a href="https://etherscan.io/address/{{ song.publisher }}" target="_blank">{{ sng.publisher|makeShorterAddy }}</td>
            <td>{{ sng.start }}</td>
            <td>{{ sng.end }}</td>
          </tr>
        {% endfor %}
      </table>
      <div style="border: 1px solid black; border-top: 0px;">
        <a href="queue" class="colorfulLink" style="margin: 0; padding: 5px 0px 5px 0px;">View Full Queue</a>
      </div>
    </div>

    <div id="faq">
      <div style="text-align: center">
        <h1>FAQ</h1>
      </div>
      <div class="container">
        {% autoescape off %}
          {% for q, v in faq %}
            <div class="row">
              <div class="col-6">
                <h3>{{ q }}</h3>
              </div>
              <div class="col-6">
                <p>{{ v }}</p>
              </div>
            </div>
          {% endfor %}
        {% endautoescape %}
      </div>
    </div>

    <div id="roadMap" style="margin-bottom: 100px;">
      <div style="text-align: center;">
        <h1>Roadmap</h1>
      </div>
      <div class="timeline">
        <div class="containertime left">
          <div class="content">
            <h2>Jukebox alpha Rinkeby Launch</h2>
            <year>2021</year>
            <p>Jukebox is officially live on the Rinkeby Testnet! At this time, many aspects of the protocol are still in development.</p>
          </div>
        </div>
        <div class="containertime right">
          <div class="content">
            <h2>Jukebox v1 Mainnet Launch</h2>
            <year>2021</year>
            <p>Jukebox will be launched on the Ethereum Mainnet soon!
          </div>
        </div>
        <div class="containertime left">
          <div class="content">
            <h2>Jukebox v2</h2>
            <year>2022</year>
            <p>Jukebox v2 will feature significant upgrades including the JUK token and NFT based time slots that can be bought and sold. See <a href="future-work" class="colorfulLink">Future Work</a></p>
          </div>
        </div>
      </div>
    </div>

    <footer id="footer">
      <h3>&copy; 2021 Jukebox</h3>
      <div id="socialFooter">
        <a target="_blank" href="https://github.com/dylanireland/jukebox-core">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg>
        </a>
        <a target="_blank" href="https://rinkeby.etherscan.io/address/0xeA3E60804ee1e8D5eC46c889B5DCEfD3eE9EfB11">
          <img src="{% static 'photos/etherscan.svg' %}">
        </a>
      </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.4/web3.min.js" integrity="sha512-TTGImODeszogiro9DUvleC9NJVnxO6M0+69nbM3YE9SYcVe4wZp2XYpELtcikuFZO9vjXNPyeoHAhS5DHzX1ZQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/truffle-contract@4.0.31/dist/truffle-contract.js"></script>
    <script type="module" src="js/app.js"></script>


  </body>
</html>
