body {
  min-height: 100vh;
  background-image: url('../photos/renaissancemusicians.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.85), rgba(255,255,255,0.85), rgba(255,255,255,1));
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.logo img {
  width: 70px;
}

.logo a, .main-nav a {
   padding: 10px 15px;
   text-align: center;
   display: block;
   text-decoration: none;
   color: #FFF;
}

.header {
  background-color: transparent;
  position: relative;
}

.main-nav > li, .logo > a {
  white-space: nowrap;
}
 .header,
.main-nav {
    display: flex;
    justify-content: space-between;
}
ul.main-nav {
  margin-right: 0px;
}
.header {
  padding-bottom: 20px;
  align-items: center;
  .header {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
  }
}

#jukeboxName, .colorfulLink {
  position: relative;
  background: url('../photos/gradient180.png') no-repeat center center;
  background-size: 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  transition-duration: 0.5s;
}

#jukeboxName:hover, .colorfulLink:hover {
  text-decoration: none;
  color: transparent;
  background: url('../photos/gradient.png') no-repeat center center;
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
}

.display {
  border-radius: 10px;
  background-color: white;
  margin: auto;
  width: 85vw;
  min-height: 80vh;
  text-align: center;
  position: relative;
}

.display > h1 {
  margin: auto;
  padding-top: 10px;
}

/* QUEUE */
#queueWrapper {
  padding-top: 30px;
  max-width: 50%;
  margin: auto;
}

#queue {
  width: 100%;
}

#queueNameBox {
  border: 1px solid black;
  border-bottom: 0px;
}

#queueNameBox > h4 {
  margin: 0;
  padding: 5px 0px 5px 0px;
}

#queue, th, td {
  border: 1px solid black;
}

th, td {
  padding: 3px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {

  .logo img {
    width: 10vw;
  }

  #jukeboxName {
    font-size: 5vw;
  }

  .colorfulLink {
    white-space: nowrap;
  }

  #queueWrapper {
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  th, td {
    font-size: 0.7rem;
  }
}
