*{
  scroll-behavior: smooth !important;
}

#jukeboxName, .colorfulLink {
  position: relative;
  background: url('../photos/sexyLink.png') no-repeat center center;
  background-size: 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  transition-duration: 0.5s;
}

#jukeboxName:hover, .colorfulLink:hover {
  text-decoration: none;
  color: transparent;
  background: url('../photos/sexyLink180.png') no-repeat center center;
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
}

#jukeboxName {
  background-image: url('../photos/gradient180.png');
}

#jukeboxName:hover {
  background-image: url('../photos/gradient.png');
}

#forwardFacingDiv {
  margin-top: 5vw;
  text-align: left;
}

#forwardFacingDiv > h1 {
  font-size: 4rem;
}


#homeBanner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.85), rgba(255,255,255,0.85), rgba(255,255,255,1));
}

#homeBanner {
  position: relative;
  background-image: url('../photos/renaissancemusicians.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.homeContainer {
  text-align: center;
  opacity: 1.0;
  padding-top: 75px;
  padding-bottom: 200px;
  padding-left: 0px;
  padding-right: 0px;
}



.header > h1, .header > ul, div > div > div > div > div > h1, div > div > div > div > div > h2 {
  z-index: 2;
}

h1 {
  font-size: 3rem;
}

table, th, td {
  border: 1px solid black;
}


#learnMore {
  background-image: url('../photos/gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.5s;
  width: 175px;
  height: 60px;
  margin: auto;
  z-index: 2;
}

#learnMore:hover, .main-nav li:hover {
  background: url('../photos/gradient180.png') no-repeat center center;
  background-size: cover;
}

#logoWithExtrasHome {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  display: block;
  z-index: 1;
}

ul.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 20px;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav li {
  background-image: url('../photos/gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transition-duration: 0.7s;
  margin-left: 10px;
  margin-right: 10px;
}

.main-nav li a {
  color: black;
}

.main-nav li:hover {
  background-color: #F15A96;
  color: white;
}

.logo a, .main-nav a {
   padding: 10px 15px;
   text-align: center;
   display: block;
   text-decoration: none;
   color: #FFF;
}

.logo a {
  color: #39FF14 !important;
}

.logo img {
  width: 70px;
}

#play {
  background-color: white;
  padding-top: 100px;
  margin-bottom: 150px;
}

#listen {
  position: relative;
  margin-top: 50px;
  padding-bottom: 50%;
  z-index: 3;
  height: 100vh;
}

#listen::before {
  content: "";
  background: url('../photos/headphoneArt.svg') no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

#listen > div {
  text-align: center;
  position: relative;
  z-index: 3;
}

#listen > div > div > div table {
  width: 100%;
}

#faq {
  border-radius: 25px;
  background-color: #eee;
  margin: auto;
  max-width: 70%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 25px;
}

.blob {
  display: inline-block;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 0;
  margin-left: 10px;
  margin-bottom: 2px;
  height: 10px;
  width: 10px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 20px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  border-radius: 10px;
  background: url('../photos/gradient90.png');
  background-size: 20px 100%;
}

.containertime {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.containertime::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  right: -25px;
  background-color: #eee;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.content {
  padding: 20px 30px;
  background-color: #eee;
  position: relative;
  border-radius: 6px;
}

.content > year {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 1rem;
  color: black;
}

.right::after {
  left: -25px;
}

/* FOOTER */

#footer {
  min-height: 100px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

#footer > h3 {
  font-size: 1rem;
}

#footer #socialFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#footer #socialFooter > a {
  color: black;
}

#footer #socialFooter > a > * {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

@keyframes pulse-black {
  0% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }

  .blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
  }

  .main-nav > li, .logo > a {
    white-space: nowrap;
  }
   .header,
  .main-nav {
      display: flex;
      justify-content: space-between;
  }
  ul.main-nav {
    margin-right: 0px;
  }
  .header {
    padding-bottom: 20px;
    align-items: center;
    .header {
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
    }
}
/* MOBILE */
@media (max-width: 767px) {
  .mobileVisible {
    display: block;
    position: relative;
  }

  .desktopVisible {
    display: none;
  }

  #mobileBR {
    display: inherit;
  }

  .homeContainer {
    padding-top: 5vw;
    padding-bottom: 10vw;
  }

  .colorfulLink {
    white-space: nowrap;
  }

  #jukeboxName {
    font-size: 5vw;
  }

  #logoWithExtrasHome {
    width: 70%;
    margin-bottom: 0px;
  }

  .logo img {
    width: 10vw;
  }

  .logo a, .main-nav a {
    padding: 8px 8px;
  }

  .main-nav a {
    font-size: 0.8rem;
  }

  .main-nav li {
    margin-left: 5px;
    margin-right: 5px;
  }

  #forwardFacingDiv {
    margin-top: 5vw;
    text-align: center;
  }

  .mobileVisible > div > h1 {
    font-size: 12vw;
  }

  #forwardFacingDiv > h2 {
    font-size: 7vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 5vw;
  }

  #play {
    padding-top: 50px;
  }

  #play .mobileVisible {
    text-align: center;
  }

  #play .mobileVisible > div > h1 {
      font-size: 8vw;
      padding-left: 5vw;
      padding-right: 5vw;
  }

  #play .mobileVisible > div > p {
      padding-left: 5vw;
      padding-right: 5vw;
  }

  #coverchain {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #listen {
     z-index: 3;
     height: 120vh;
  }

  #listen::before {
    background: url('../photos/headphoneArtVertical.svg') no-repeat;
  }

  #listen > div > h1 {
    position: absolute;
    top: -15vw;
    right: 5%;
    text-align: right;
    font-size: 9vw;
  }

  #listen > div > div > p {
    position: absolute;
    top: 35vw;
    left: 8%;
    text-align: left;
    max-width: 62vw;
    font-size: 6.25vw;
  }

  #desktopQueue {
    display: none;
  }

  #mobileQueue {
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
  }

  #mobileQueue > table {
    width: 100%;
    margin-top
  }

  #mobileQueue > table > tbody > tr > th {
    font-size: 3vw;
  }

  #faq {
    margin-top: 10vw;
    max-width: 80%;
  }

  #faq > .container > .row {
    flex-direction: column;
    align-content: center;
  }

  #faq > .container > .row > .col-6 {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  #roadMap > .timeline > .containertime > .content > h2 {
    font-size: 6vw;
  }

  #roadMap > .timeline > .containertime > .content > p {
    font-size: 3vw;
  }

  .left, .right {
    left: 15%;
  }

  .left::after, .right::after {
    left: -9vw;
  }

  .timeline::after {
    left: 10%;
    margin-left: 0px;
  }

  .containertime {
    width: 85%;
  }

}

@media (min-width: 768px) {
  .desktopVisible {
    display: flex;
  }

  .mobileVisible {
    display: none;
  }

  #desktopQueue {
    display: block;
  }

  #mobileQueue {
    display: none;
  }

  #coverchain {
    padding-left: 50px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #listen > div > h1 {
    position: absolute;
    top: 50px;
    left: 8%;
  }

  #listen > div > div {
    position: absolute;
    top: 200px;
    right: 29%;
    max-width: 30%;
    z-index: 3;
  }

  #listen > div > div > p {
    font-size: 1.5rem;
  }

  #listen > div > div > p > a {
    z-index: 3;
  }

  #mobileBR {
    display: none;
  }
}
